<!DOCTYPE html>
<html ng-app="Variables">
{% load staticfiles %}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
<link href="{%  static 'css/main.css' %}" rel='stylesheet' type='text/css'>

</head>

<body>



<div ng-controller="MainCtrl" id="container">
 <div id="list">
  <h1 class="title">Build a Question!</h1>
    <div class="list_item col-md-2 btn btn-default" ng-repeat="variable in variables" ng-click="">
    	{% verbatim %}{{ variable }} {% endverbatim %}
    	<span ng-click="removeItem($index)" style="float:right;" class="close_btn">&times;</span>
    </div>
 </div>
  <div id="add_new">
  	<h3 class="title">Add Variable</h3>
  	<uib-alert type="{% verbatim %}{{ alert.type}} {% endverbatim %}" ng-if="alert.show">{% verbatim %} {{ alert.msg }} {% endverbatim %}</uib-alert>

  	<input type="text" class="form-control" ng-model="newvariable"/>
  	<button class="btn btn-default" ng-click="addvariable(newvariable)">Add</button>
  </div>
  <input type="textareas" class="form-control" ng-model="output"  />
</div>
<br>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.1/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.1/ui-bootstrap-tpls.js"></script>
<script src="{%  static 'js/app.js' %}"></script>
</body>
</html>
